numpy
numba==0.50.1
tensorboardX
easydict
pyyaml
scikit-image
tqdm
addict
fire
imagecorruptions
joblib
lyft_dataset_sdk
objgraph
open3d-python
opencv-contrib-python
opencv-python
pybind11
pycocotools
pytest-runner
requests
terminaltables
vtk
nuscenes-devkit==1.0.1